[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://gitlab.com/bi-ayefo/hugo_theme_bear_blog_perso.git
